<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483167760803-lgbjdrg503nvrgil92sm2kq3h0v2q0g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483167760803-lgbjdrg503nvrgil92sm2kq3h0v2q0g3</string>
	<key>API_KEY</key>
	<string>AIzaSyBR05buA4061HY7HZlgycXdxLHcmAXsVxk</string>
	<key>GCM_SENDER_ID</key>
	<string>483167760803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bproductiveflutter</string>
	<key>PROJECT_ID</key>
	<string>bproductive-6ace8</string>
	<key>STORAGE_BUCKET</key>
	<string>bproductive-6ace8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483167760803:ios:3a71dac65c562cd5002a16</string>
	<key>DATABASE_URL</key>
	<string>https://bproductive-6ace8.firebaseio.com</string>
</dict>
</plist>